<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <form action="/user" method="POST">
      <label for="">Enter your Full Name</label>
      <input type="text" name="name" />

      <label for="">Enter your Email</label>
      <input type="text" name="email" />

      <label for="">Enter Password</label>
      <input type="text" name="password" />

      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
